<!-- $def with (name)
    $if name:
        I just wanted to say <em>hello</em> to $name.
    $else:
        <em>Hello</em> World!-->
<html>
    <head>
        <meta charset="utf-8">
        <meta charset=utf-8>
        <title>India Allele Finder</title>
    </head>
    <body>
        <div>India Allele Finder</div><!-- <div> my name is $name </div> -->
        
        <form action="{{ url_for('search') }}" method="GET" id="searchBar">
          <div> <b>India Allele Finder</b>
          <input type="search" name="search" placeholder="type in a gene for variant" >
          <input type="submit" style="position: absolute; top: 0; left: 0; z-index: 0; width: 1px; height: 1px; visibility: hidden;">
        </form>        
        <div class='example'>Examples - Gene: PCSK9, Variant: 22-46615880-T-C, Multi-allelic variant: rs1800234, Region: 22:46615715-46615880</div>
    </body>
</html>